@using restapp.Services
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu Page";
}
<style>
    .btn-light-black {
        background-color: #f0f0f0;
        color: #333;
        border: 1px solid #ccc;
        transition: all 0.2s ease-in-out;
    }

        .btn-light-black:hover {
            background-color: #e0e0e0;
            color: #000;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .btn-light-black:active {
            transform: scale(0.98);
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
</style>

@{
    DBServices dbs = new DBServices();
    List<Category> categoryList = dbs.GetAllCategories();
}
<div class="text-center">
    <h1 class="display-4">Welcome to Flavour Hub</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (Category categorytype in categoryList)

    {
                <div class="col">
                <div class="card h-100">
                <img src="@Url.Content(categorytype.CategoryImagePath)"

                                     class="card-img-top img-fluid"

                                     alt="@categorytype.CategoryName"
                                     style="height :200px; object-fit:cover;"/>
                <div class="card-body">
                <h5 class="card-title">@categorytype.CategoryName</h5>
                <p class="card-text">

                                        @(categorytype.CategoryDescription.Length > 50

                                                            ? categorytype.CategoryDescription.Substring(0, 50) + "..."

                                                            : categorytype.CategoryDescription)
                </p>
                </div>
                <div class="card-footer">
                <a href="@Url.Action("ByCategory", "FoodItems", new { categoryId = categorytype.CategoryId })"
                   class="btn btn-light-black btn-sm w-100">
                    See All Items
                </a>

                </div>
                </div>
                </div>

        }
</div>
